@{
    ViewData["Title"] = "Cinemas";
}


<div class="cinemas">
    <div class="cinemastext">
        <div class="cinemascontainer">
            <h1 id="about">
                Over D&M Cinema
            </h1>
            <p>
                D&M Cinema is een uitermate futuristische bioscoop. U zult kennismaken met de meest recente technologische snufjes. Vandaar dat onze doelgroep in het bijzonder kinderen, jongeren en jongvolwassenen zijn, aangezien wij verwachten dat die het bekendst zijn met de hedendaagse technologie. Bent u wat ouder? Vrees niet! Onze bioscopen zullen desalniettemin ook toegankelijk zijn voor u. Wij zullen u namelijk, indien nodig, voorzien met onze hulpservice. Voor al onze bezoekers geldt dat wij ervoor zullen zorgen dat de hoogste kwaliteit service altijd tot uw dienst is en u met een onvergeetbare ervaring naar huis gaat.
            </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nE1g3KKAAtM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="cinemascontainer">

            <h1>
                Films en zalen
            </h1>
            <p>
                Onze 12 zalen hebben de mogelijkheid om gebruik te maken van 3D, 4D en IMax. Bij Imax zijn in tegenstelling tot het normale brede filmformaat, met name de actiescènes in breedbeeld. Dat formaat gebruikt je flatscreen thuis ook. Door dit formaat dat IMAX hanteert, heb je meer het idee dat je je echt in de film begeeft in plaats van dat je naar een film kijkt.
                <br />
                Om het makkelijk te maken voor u, hebben al onze films een leeftijdsclassificatie, waardoor makkelijk te zien is of de film gepast is voor uw leeftijd
                <img src="~/img/bioscoopzaal.jpg">
            </p>
        </div>

        <div class="cinemascontainer">

            <h1>
                Maatschappelijk verantwoord
            </h1>
            <p>
                Als wij om ons heen kijken, zien we een wereld waarin mensen hun leven vullen met alledaagse dingen: school, werk, gezin, huishouden, mobieltje, familie en vrienden, alles vraagt om aandacht en toewijding. We zijn druk en staan altijd aan. Als D&M Cinema willen wij een plek zijn waar je meer beleeft dan alleen ‘de film’, waar je er echt even uit bent en nieuwe of onverwachte ervaringen op kunt doen. Wij zijn een plek zonder zorgen, waar je kan ontspannen en waar je je blij voelt. Wij willen het leven van alledag leuker maken. Dat willen we voor onze bezoekers, én voor de wereld om ons heen.
                En dat doen we natuurlijk op die gebieden waar wij het grootste verschil kunnen maken:
            </p>
            <ul>
                <li>Bij het duurzaam bouwen en onderhouden van onze theater. </li>
                <li>Door het onze bezoekers makkelijk te maken op een duurzame manier te genieten van hun bioscoopbezoek. </li>
                <li>De kracht van film en onze bioscoopbeleving inzetten om mensen te laten ontspannen en op te laden.</li>
            </ul>
            <img target="mvo" src="~/img/mvo.png">
        </div>
    </div>
</div>
