@model DM_cinema.Database.Film
@{ ViewData["Title"] = "Film"; }

@section style{
    <link href="/css/films.css" type="text/css" rel="stylesheet" />
}

<h1>@Model.Naam</h1>

<div class="flexbox">
    <div class="left"><img class="logo" src="@Model.Img" /></div>
    <div class="right">
        <div>
            <h3>Date: @Model.Datum</h3>
        </div>
        <h3>About:</h3>
        <p> @Model.Beschrijving</p> <br /> <br />      
    </div>
</div>



