@using DM_cinema.Database
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<div class="intro">
    <div class="introtext">
        <h1>
            Welcome to DM - Cinema
        </h1>

        <p>
            Welcome to the best Cinema in the World <br />
            At DM - Cinema, we provide the best experience for watching movies
        </p>
    </div>
</div>

<div class="films">
    @foreach (Film f in Model)
    {
<div class="upcomingfilms">
    <div class="lcolumn">
        <div class="header">
            <h2>@f.Naam</h2>
        </div>
        <div class="databaseinfo">
            <p> <u>Date:</u> @f.Datum</p>
            <p> <u>Time:</u> @f.Duur  </p>
        </div>
        <a class="detailpage" href="festivals/@f.Id">Read more...</a>
    </div>
</div>
                <br />}
</div>
