@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<div class="intro">
    <div class="introtext">
        <h1>
            Welcome to DM - Cinema
        </h1>

        <p>
            Welcome to the best Cinema in the World <br />
            At DM - Cinema, we provide the best experience for watching movies
        </p>
    </div>
</div>
