.introtext{
    width:100%;
}

.introtext h1{
    padding-top: 10px;
}

.intro {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/introimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 700px;
    width: 100%;
}

.intro h1 {
    font-family: 'Fredoka One';
    font-size: 400%;
    padding: 5% 3% 2% 3%;
    text-align: center;
    text-decoration: overline;
    color: white;
    width:100%;
}

.intro p {
    font-family: 'Fredoka one';
    color: white;
    font-size: 150%;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;
}

.films {
    background-color: lightcyan;
    padding-top: 60px;
    background: linear-gradient(180deg, #e64e4e 0%, rgba(255, 255, 255, 0) 100%), #6DC6CE;
}

.films h1 {
    font-family: 'Fredoka One';
    font-size: 250%;
    text-align: center;
    color: black;
    width: 100%;
    margin-bottom: 45px;
}

.upcomingfilms{
    margin: 0px 10% 30px 10%;
    background-color: lightblue;
    border-radius: 30px;
    padding: 20px 0px 20px 50px;
    max-height: 400px;
}

.filmplaatje{
    border-radius: 10%;
    width: 170px;
    height: auto;
}

.header h2 {
    position: relative;
    top: 45px;
    left: 215px;
}

.filminfo {
    top: -190px;
    left: 215px;
    position: relative;
    margin-right: 100px;
}

.beschrijving {
    width: 70%;
    overflow: hidden;
}

.meerbeschrijving {
    color: #ff0000;
}


@media screen and (max-width:560px) {
    .filmplaatje{
        display:none;
    }
    .header h2{
        position: unset;
    }
    .filminfo{
        position: unset;
    }
}